/blogdown/
/docs/
/lectures/semester/
/lectures/old_semester/
/public/
/static/static/
*cache/
.Rproj.user/
node_modules/
Corel Auto-Preserve/
.Rproj.user/
.RData
.Ruserdata
.Rhistory
.DS_Store
*.Rproj
*.zip
*.xlsx
*.out
*.log
*.aux
*.toc
*.idx
*.ilg
*.blg
*.bbl
*-concordance.tex
*.bak
tmp*.tex
*.knit.md
*.lock~
*.bib.sav
/planning/EES-3310-5310.sqlite3
/planning/EES-3310.sqlite3
/planning/EES-4760-5760.sqlite3
/planning/EES-4760.sqlite3
* - Copy.*
